$body-bg: #eef0f5;

$color-white: #fff;
$color-default: #ccc;
$color-primary: #677ee6;
$color-secondary: #edf1fa;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-error: #d9534f;

$color-success-secondary: #e7f8f0;
$color-info-secondary: #fff5ec;
$color-warning-secondary: #fff5ec;
$color-error-secondary: #ffebec;

$color-border: #f5f5f5;
$color-muted: rgba(0, 0, 0, 0.3);
$windows-active-bg: #F9FDFF;
$windows-border: #f5f5f5;

$layout-header-bg: #f9faff;
$layout-header-border: #d9e3ef;

$layout-sidebar-bg: #FFF;
$layout-sidebar-border: #d9e3ef;

$table-header-bg: #EEF0F5;
$table-header-border-color: #fff;
$table-footer-bg: #EEF0F5;
$table-footer-border-color: #fff;

$table-stripe-color: #FBFBFB;
$table-border-color: #EEF0F5;
$table-hover-color: #F9FDFF;
$table-selected-color: #fffdf5;

$control-border-color: #b6c4d1;

$nav-vertical-padding: 0;
$nav-vertical-line-height: 36px;
$nav-vertical-indent: 20px;
$nav-vertical-pop-line-height: 48px;
$nav-vertical-pop-sub-line-height: 32px;

$nav-color: #333;
$nav-hover-color: #677EE6;
$nav-bg: #fff;
$nav-selected-color: #677EE6;
$nav-selected-bg: #F9FAFF;
$nav-selected-border: 2px solid $nav-selected-color;

$nav-label-indent: 16px;

$z-index-masker: 800;
$z-index-dialog: 1000;
$z-index-alert: 1100;