.dialog {
  border-radius: 5px;
  background-color: #fff;
  z-index: $z-index-dialog;
  box-shadow: rgba(0,0,0,0.3) 0px 0px 8px;

  .dialog-title {

  }

  .dialog-content {

  }

  .dialog-action {

  }

}