@import "../mixins";
//@import "../bootstrap";

.block-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-group {

  & > label {
    display: block;
    margin-bottom: 2px;
  }

}

.control-border-color {
  color: $control-border-color;
}

.form-control-order {
  border: 1px solid $control-border-color;
  border-radius: 3px;
  transition: border-color ease-out .3s;
  outline: none;
  &:hover, &.focus {
    border-color: $color-primary;
    .left-icon, .right-icon {
      color: $color-primary;
    }
  }
}

.form-control {
  @include flex;
  align-items: center;
  line-height: 1.5;
  outline: none;
  background-color: #fff;
  border: 1px solid $control-border-color;
  border-radius: 3px;
  transition: border-color ease-out .3s;
  color: #555;

  .grow {
    flex-grow: 1;
  }

  &.editable {
    background-color: #FFFCF7;
  }

  &.transparent {
    background-color: transparent;
  }

  &.error {
    border-color: $color-error;
  }

  .left-icon, .right-icon {
    width: 20px;
    min-width: 20px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.3);
    transition: color ease-out .3s;
  }
  .right-icon {
    text-align: right;
  }
  &, &.default {
    height: 34px;
    padding: 6px 9px;
    font-size: 14px;
    input,select {
      font-size: 14px;
    }
  }

  &.large {
    height: 42px;
    padding: 8px 12px;
    font-size: 16px;
    input,select {
      font-size: 16px;
    }
    .left-icon, .right-icon {
      width: 24px;
      min-width: 24px;
    }
  }

  &.small {
    height: 26px;
    padding: 4px 6px;
    font-size: 12px;
    input,select {
      font-size: 12px;
    }
    .left-icon, .right-icon {
      width: 16px;
      min-width: 16px;
    }
  }

  &.border-underline {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  &.border-none {
    border: none;
    box-shadow: none;
  }

  &:hover, &.focus {
    border-color: $color-primary;
    .left-icon, .right-icon {
      color: $color-primary;
    }
  }
}

.form-inline {
  .form-group {
    @include flex;
    align-items: center;
    & > label {
      width: 90px;
      min-width: 90px;
      line-height: 32px;
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

.control-error-text {
  color: $color-error;
  position: absolute;
}

.no-border {
  border: none;
}

.no-outline {
  outline: none;
}

.clear-style {
  @include clear-style;
  &.bordered{
    border: 1px solid $control-border-color;
  }
}

.checkbox {
  height: 32px;
  input[type=checkbox] {
    margin: 0 6px 0 0;
  }
}

.radio {
  height: 32px;
  input[type=radio] {
    margin: 0 6px 0 0;
  }
}
